@model IEnumerable<CourseProject.Models.KhoaHoc>
@{
    ViewBag.Title = "Danh sách khóa học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Khóa học</h2>
    </div>
</div>
<hr style="border-top: 3px solid lightgreen;" />

<div class="row">
    @foreach (var course in Model)
    {
        <div class="col-md-8">
            <a href="@Url.Action("Details", "Courses", new { id = course.ID })">
                @course.TenKhoaHoc
            </a>
        </div>
    }
</div>
<div class="clearfix"></div>
